header {
  background-color: $color-primario;

  nav {
    ul {
      @include flex-center(row, 20px);

      li {
        list-style: none;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: $color-secundario;
          }
        }
      }
    }
  }
}
