.hero {
  background-color: $color-fondo;
  padding: 80px 20px;
  text-align: center;

  h1 {
    font-size: 60px;
    color: $color-primario;
  }

  p {
    font-size: 22px;
    color: $color-texto;
  }
}
