
@mixin flex-center($direction: row, $gap: 10px) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin card($bg: white) {
  background-color: $bg;
  box-shadow: $sombra;
  border-radius: $radius;
  padding: 20px;
  transition: transform .3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
