@use "variables" as v;


.nosotros {
  padding: 40px;

  .texto {
    max-width: 800px;
    margin: auto;
    font-size: 20px;
  }

  img {
    width: 100%;
    border-radius: v.$radius;
    box-shadow: v.$sombra;
  }
}
