@use "mixins" as m;
@use "variables" as v;


.productos {
  padding: 40px;

  .grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    .card-producto {
      @include m.card(white);


      img {
        width: 100%;
        border-radius: v.$radius;
      }

      h3 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
      }

      p {
        color: v.$fuente-primaria;
      }

      .btn-comprar {
        background-color: v.$background;
        color: white;

        &:hover {
          color: v.$color-hover;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .productos .grid-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .productos .grid-productos {
    grid-template-columns: 1fr;
  }
}
