

$fuente-principal: "Oswald", sans-serif;
$background: white;
$fuente-primaria: #f3f5f7;
$fuente-secundaria: gold;
$color-hover: crimson;



$sombra: 0 4px 10px rgba(0,0,0,0.2);
$radius: 12px;


$ancho-card: 300px;
$ancho-card-mobile: calc($ancho-card / 1.5);




